<div class="flex py-[30px] justify-between items-center px-[200px]">
    <div routerLink="/" class="flex items-center gap-[8px] cursor-pointer">
        <div>
            <img class="w-[36px] h-auto" src="/logo/logo.svg" alt="">
        </div>
        <div>
            <h2 class="text-[20px] font-normal text-[#141624]">Habit<span class="font-extrabold text-[24px]">Tracker</span></h2>
        </div>
    </div>
    <div class="flex gap-[24px] items-center">
        <div>
            <button (click)="logOut();" class="cursor-pointer font-medium text-white text-base bg-red-600 py-1 px-3 rounded-[6px]">
                <div class="flex gap-[12px]">
                    <p>Logout</p>
                </div>
            </button>
        </div>
    </div>
</div>